.container {
    position: absolute;
    background-color: #000000c2;
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.addVisible{
    
}
.container-chat{
     position: absolute;
    background-color: #000000c2;
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
 
}

.iframe-css{
    width:100%;
    height:100%
}

.counterBox{
        width: 90%;
    display: flex;
   margin: auto;
    height: 95vh;
}
.close {
    width: 50px;
    margin: 10px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://storage.googleapis.com/virtual-event-273009.appspot.com/BroadExpo/Textures/close.png");
    cursor: pointer;
}

.download {
    width: 50px;
    margin: 5px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://storage.googleapis.com/virtual-event-273009.appspot.com/BroadExpo/Textures/download.png");
    cursor: pointer;
}

.iframe-css-poll{
    width: 400px;
    height: 600px;
    border: none;
    max-height: 600px;
    border-radius: 10px;
}
.container-poll {
  position: absolute;
    bottom: 0px;
    right: 5%;
    width: 400px;
   z-index: 14;
}

.container-poll_audi_2 {
  position: absolute;
    bottom: 0px;
    right: 5%;
    width: 400px;
   z-index: 14;
}

.iframe-css-poll body{
    background-color: #ffffff70;
}
.close-btn-poll {
     position: absolute;
    width: 100px;
    background-color: #ff000000;
    top: 30px;
    padding: 30px 0px;
    right: 15px;
    cursor: pointer;
}


/* iPads (portrait and landscape) ----------- */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.container {
    position: absolute;
    background-color: #000000c2;
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container-chat{
     position: absolute;
    background-color: #000000c2;
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.iframe-css{
    width:100%;
    height:100%
}

.counterBox{
        width: 90%;
    display: flex;
   margin: auto;
    height: 95vh;
}
.close {
    width: 50px;
    margin: 10px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://storage.googleapis.com/virtual-event-273009.appspot.com/BroadExpo/Textures/close.png");
    cursor: pointer;
}
.download {
    width: 50px;
    margin: 10px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://storage.googleapis.com/virtual-event-273009.appspot.com/BroadExpo/Textures/download.png");
    cursor: pointer;
}
.counterBox-poll{
    
}

.iframe-css-poll{
    width: 280px;
    height: 600px;
    border: none;
    max-height: 600px;
    border-radius: 10px;
}
.container-poll {
  position: absolute;
    bottom: 5px;
    right: 6.5%;
    width: 280px;
z-index: 14;
    
}
.iframe-css-poll body{
    background-color: transparent;
}
.close-btn-poll {
     position: absolute;
    width: 100px;
    background-color: #ff000000;
    top: 30px;
    padding: 30px 0px;
    right: 15px;
    cursor: pointer;
}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */

.container {
    position: absolute;
    background-color: #000000c2;
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container-chat{
     position: absolute;
    background-color: #000000c2;
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.iframe-css{
    width:100%;
    height:100%
}

.counterBox{
        width: 90%;
    display: flex;
   margin: auto;
    height: 95vh;
}
.close {
    width: 50px;
    margin: 10px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://storage.googleapis.com/virtual-event-273009.appspot.com/BroadExpo/Textures/close.png");
    cursor: pointer;
}

.download {
    width: 50px;
    margin: 10px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://storage.googleapis.com/virtual-event-273009.appspot.com/BroadExpo/Textures/download.png");
    cursor: pointer;
}
.iframe-css-poll{
    width: 400px;
    height: 600px;
    border: none;
    max-height: 600px;
    border-radius: 10px;
}
.container-poll {
  position: absolute;
    bottom: 0px;
    right: 5%;
    width: 400px;
  z-index: 14;
}
.iframe-css-poll body{
    background-color: #ffffff70;
}
.close-btn-poll {
     position: absolute;
    width: 100px;
    background-color: #ff000000;
    top: 30px;
    padding: 30px 0px;
    right: 15px;
    cursor: pointer;
}
}

