.nextBTn{
   margin-top: 11.5rem;
}
.positionedBtn{
  position: absolute;
  right: 40%;
  top: 34%;
}
.audio{
  bottom:13%;
  right:10%;
  position: absolute;
  z-index: 999;
  box-shadow:  0px 14px 15px rgb(0 0 0 / 100%);
  border-radius: 50%;
}
.playAudio{
  stroke-dasharray: 159;
  stroke-dashoffset: 159;
}

.pause{
  animation-play-state: paused;
}
.start{
  animation-play-state: running;
}
.player{
  animation-name: loadTimer !important;
   animation-timing-function: linear !important;
   animation-fill-mode: backwards !important;
   /* animation-duration: 4s !important; */
  /* animation:2s loadTimer linear forwards !important; */
}
@keyframes loadTimer {
 0%{
  stroke-dashoffset: 159;
 }  
 100%{
  stroke-dashoffset: 0;
 }
}
.CloseViewEmailSlide {
  position: absolute;
  top: 0%;
  right: 1%;
  width: 9rem;
  height: 5rem;
  fill: #000;
  text-shadow:  0px 14px 15px rgb(0 0 0 / 40%);
  cursor: pointer;
  z-index: 999;
}
.mail{
  height: 100%;
}
.closeMail{
  position: absolute;
  top: 1%;
  right: 4%;
  z-index: 99999;
  max-width: 54px !important;
  height: 54px !important;
  border-radius:50%;
}
.mailWrapper{
  position: absolute;
  z-index: 99999;
}