@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNovaAlt-Regular.ttf);
}
/* 
@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    src: url(../fonts/ProximaNova/ProximaNovaAlt-Bold.ttf);
} */

/* @font-face {
    font-family: ProximaNova;
    font-weight: lighter;
    src: url(../fonts/ProximaNova/ProximaNovaAlt-Light.ttf);
} */
