.aboutImg{
  transform: scale(1.6);
}
.CloseOfficeSlide {
  position: absolute;
  top: 0%;
  right: 9%;
  width: 9rem;
  height: 5rem;
  fill: #000;
  text-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  cursor: pointer;
  z-index: 999;
}